<!doctype html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="icon" href="/favicon.ico">
    <title>{{ site.title | default: site.github.repository_name }} - {{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.0/anchor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
        $(function() {
            anchors.add('.post-content > .wrapper-main h0, .wrapper-main h1, .wrapper-main h2, .wrapper-main h3, .wrapper-main h4, .wrapper-main h5');
        });
    </script>
    <link rel="stylesheet"  href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">

    <meta name="description"
          content="Serendeepia is a group of experts in Machine Learning and Deep Learning. We build custom solutions based on state of the art research and we help our customers to develop their own capabilities to use Artificial Intelligence.">

    {% if page.title %}<meta property="og:title" content="{{ site.title | default: site.github.repository_name }} - {{ page.title }}"/>
    {% else %}<meta property="og:title" content="{{ site.title | default: site.github.repository_name }}"/>{% endif %}
    <meta property="og:image" content="http://serendeepia.com/assets/logo.svg"/>
    <meta property="og:description"
          content="Serendeepia is a group of experts in Machine Learning and Deep Learning. We build custom solutions based on state of the art research and we help our customers to develop their own capabilities to use Artificial Intelligence."/>

</head>
<body>
<header>
    <div class="wrapper">
    <h1><a href="/">
        <img src="http://serendeepia.com/assets/logo.svg" width="32px"/>
        <span>{{ site.title | default: site.github.repository_name }}</span>
    </a></h1>
    <div style="clear: both"></div>
    </div>
</header>
<div class="wrapper-main">