{% include header.html %}
<script>
    $(document).ready(function () {
        var toc = "";
        $("div.wrapper-main h1, div.wrapper-main h2, div.wrapper-main h3").each(function (index, value) {
            var anchor = $(this).attr('id');
            var titleText = $(this).text();
            var tagName = value.tagName;
            var style = "";
            if (tagName === 'H2') {
                style = "padding-left: 8px; font-size: 90%;"
            } else if (tagName === 'H3') {
                style =  "padding-left: 16px; font-size: 80%;"
            }
            toc += "<div style=\"" + style + "\"><a href=\"#" +
                anchor + "\" class=\"w3-bar-item\">" + titleText + "</a></div>";
        });

        document.getElementById("toc").innerHTML +=  toc;
    });
</script>
<section id="docs">
<div id="sidebar">
    {% assign docs = site.docs | sort:"index" %}
    {% for doc in docs %}
    {% assign levels = doc.index | count_levels %}
    {% assign style = "" %}
    {% if levels == 2 %}{% assign style = "padding-left: 8px; font-size: 80%;" %}{% endif %}
    {% if levels == 3 %}{% assign style = "padding-left: 16px; font-size: 70%;" %}{% endif %}
    <div style="{{style}}"><a href="{{doc.url}}" class="w3-bar-item">{{ doc.index | replace_index }} {{ doc.title}}</a></div>
    {% endfor %}
</div>

<div id="toc">
</div>

<div id="layout-content">
    <div class="edit_page">
        <a href="{{ site.github.repository_url }}/tree/master/{{ page.path }}" title="Edit page">
            <i class="fas fa-pen"></i>
        </a>
    </div>
    <h1 class="first">{{page.title}}</h1>
    {{ content }}
</div>
<div style="clear: both;"></div>
<div class="page_navigation">
    {% if page.previous.url %}
    <div class="previous_page">
        <a class="prev" href="{{page.previous.url}}">
            <span>Previous</span><br>
            <i class="fas fa-arrow-left"></i> {{page.previous.title}}
        </a>
    </div>
    {% endif %}
    {% if page.next.url %}
    <div class="next_page">
        <a class="next" href="{{page.next.url}}">
            <span>Next</span><br>
            {{page.next.title}} <i class="fas fa-arrow-right"></i>
        </a>
    </div>
    {% endif %}
</div>
<div style="clear: both;"></div>
</section>
{% include footer.html %}


